html,
body {
    height: 100%;
    /*min-width:1060px;*/
}
/*
General Layout
*/
.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
#header{
    background-color: #0d3753;
    padding:  0;

}
.borderImg1{
    border: 1px solid #f2f2f2;
    padding: 2px;
}
.navbar .nav > li > a{
    padding: 10px;
}
#header .navbar{
    margin: auto;
}

#header #logo{
    width:1000px;
    background-image: url(../img/top_titulo_interno.jpg);
}
#footer{
    width:100%;
    border-top: 1px solid #366EAF;
    font-size:11px;
    color: #366EAF;
    text-align: center;

}
#footer span{
    line-height:1;
    margin-left:15px;
}
#main-content{
    padding: 0;
}
/* Verificar */
#main-content #loginForm{
    padding: 20px 25px 15px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
}
/* Personalización de elementos bootstrap para la aplicación */
#main-content h1{
    font-size: 20px;
    line-height: 20px;
    color: #004370;
    font-weight: 300;
    padding: 0;
    margin: 5px 0 0px;
}

#main-content h2{
    font-size:25px;
    /*line-height:10px;*/
    /*color:#004370;*/
}
#main-content h3{
    font-size:22px;
    /*line-height:10px;
    color:#004370;*/
}
#main-content hr{
    margin:5px 0 15px 0;
}

#errorButton {
    position:fixed;
    top:100%;
    margin-top:-30px;
    left:100%;
    margin-left:-35px;
}

.required {
    font-size: 18px!important;
    font-weight: bolder;
    font-family: monospace;
}

.form-horizontal .large-select{
    margin-left:0;
}
.form-horizontal .input-append input{
    width:166px;
}
.form-horizontal .date button.add-on{
    padding-left:10px;
    padding-right:7px;
    height:30px;
}
.form-horizontal .select2-text-error{
    clear:both;
}
.form-horizontal .nav-tabs{
    border-color: #d6d6d6;
    /*margin-bottom:10px;*/
}
.form-horizontal .tab-content .pager{
    margin: 0;
}
form .muted, form .control-group .text-warning, form .control-group .text-error, form .control-group .text-info, form .control-group .text-success{
    font-size:11px;
}

legend{
    font-size: 18px;
}
/* MODULO precotejo specifics */
/* https://github.com/twitter/bootstrap/issues/863 */
table.fixed-width-table {
    table-layout: fixed;
    margin-bottom: 0px;
}
table.fixed-width-table th, table.fixed-width-table td {
    overflow: hidden;
}
.well-large {
    background-color: transparent; box-shadow: none; border-radius: 0px;
}
/* Módulo búsqueda de menor */
/* nuevas características */
.text-small{
    font-size:11px;
}
.text-upper{
    text-transform: uppercase;
}
#main-content .table hr{
    margin-top:0;
    margin-bottom:0;
}
#main-content .text-control{
    line-height: 30px;
    padding-left: 5px;
}
 .control-group{
    margin-bottom:10px;
}

.select2-drop .select2-results .select2-result-label{
    padding:5px;
}
.select2-drop .select2-results .select2-result-label .title{
    border-bottom: 1px solid #eeeeee;
    margin-bottom:3px;
    font-size:12px;
    line-height: 14px ;
}
.select2-drop .select2-results .select2-result-label .body{
    font-size:11px;
    line-height:13px;
    /*color:#555;*/
}
.select2-drop .select2-results .select2-result-label .body em{
    background:none;
}
.select2-drop .select2-results .select2-highlighted .body{
    /*color:#fff;*/
}
/*---- Panel de control -------------*/
#application-content ul.panel {

}
#application-content ul.panel li {
    /*float: left;
    list-style: none;
    padding: 30px 27px;
    text-align: center;*/
    /*float: left;
    list-style: none;
    padding: 24px 20px;
    text-align: center;
    margin-left: 45px;
    margin-bottom: 35px;*/
    float: left;
    list-style: none;
    padding: 10px 10px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #c1c4c5;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #dedada;
    transition-duration:.5s;
}

#application-content ul.panel li a{
    display: block;
    width: 120px;
    height: 160px;
    margin: 1.8em;
    /*height: 120px;*/
    /*position: relative;*/
}

#application-content ul.panel li a.ico_registro {
    /*background-image: url(../img/ico_registro.jpg);*/
    background-image: url(../img/ico_registro_main.png);
}
#application-content ul.panel li a.ico_registro:hover{
    /*background-image: url(../img/ico_registro_02.jpg);*/
    background-image: url(../img/ico_registro_f2_main.png);
}

#application-content ul.panel li a.ico_busqueda{
    /*background-image: url(../img/ico_busqueda.jpg);*/
    background-image: url(../img/ico_busqueda_main.png);
}

#application-content ul.panel li span{
    color:#004370;
    font-weight: bold;
    /*position: absolute;
    bottom: -44px;
    left: 11px;*/
}

#main-content .text-control{
    line-height: 30px;
    padding-left: 5px;
}
/*---- Panel de control -------------*/
#application-content ul.panel li a.ico_busqueda:hover{
    /*background-image: url(../img/ico_busqueda_02.jpg);*/
    background-image: url(../img/ico_busqueda_f2_main.png);
}
#application-content ul.panel li a.ico_precarga{
    /*background-image: url(../img/ico_precarga.jpg);*/
    background-image: url(../img/ico_precarga_main.png);
}
#application-content ul.panel li a.ico_precarga:hover{
    /*background-image: url(../img/ico_precarga_02.jpg);*/
    background-image: url(../img/ico_precarga_f2_main.png);
}
#application-content ul.panel li a.ico_config{
    background-image: url(../img/ico_config.png);
    /*background-image: url(../img/ico_config_main.png);*/
}
#application-content ul.panel li a.ico_config:hover{
    background-image: url(../img/ico_config_f2.png);
    /*background-image: url(../img/ico_config_f2_main.png);*/
}
#application-content ul.panel li a.ico_ayuda{
    /*background-image: url(../img/ico_ayuda.jpg);*/
    background-image: url(../img/ico_ayuda_main.png);
}
#application-content ul.panel li a.ico_ayuda:hover{
    /*background-image: url(../img/ico_ayuda_02.jpg);*/
    background-image: url(../img/ico_ayuda_f2_main.png);
}
#application-content ul.panel li a.ico_grias{
    background-image: url(../img/ico_grias_s1.png);
}
#application-content ul.panel li a.ico_grias:hover{
    background-image: url(../img/ico_grias_s2.png);
}
#application-content ul.panel li a.ico_actas{
    background-image: url(../img/ico_actas.png);
}
#application-content ul.panel li a.ico_actas:hover{
    background-image: url(../img/ico_actas_f2.png);
}
#application-content ul.panel li a.ico_reporte{
    background-image: url(../img/ico_reportes.png);
}
#application-content ul.panel li a.ico_reporte:hover{
    background-image: url(../img/ico_reportes_f2.png);
}

#application-content ul.panel li a.ico_observados {
    width: 120px;
    height: 160px;
    background-image: url(../img/ico_ayuda_f1_b_s1.png);
    background-repeat: no-repeat;
}
#application-content ul.panel li a.ico_observados:hover {
    width: 120px;
    height: 160px;
    background-image: url(../img/ico_ayuda_f1_b_s2.png);
    background-repeat: no-repeat;
}

#application-content ul.panel li a.ico_midis{
    /*width: 300px;
    height: 88px;*/
    width: 120px;
    height: 160px;
    background-image: url(../img/ico_midis_s1.png);
    /*background-image: url(../img/midis.png);*/

    background-repeat: no-repeat;
}

#application-content ul.panel li a.ico_midis:hover{
    width: 120px;
    height: 160px;
    background-image: url(../img/ico_midis_s2.png);
    /*background-image: url(../img/midis.png);*/
    background-repeat: no-repeat;
}

.wrap-icons{
    margin-left: 120px;

}
.xbtn{
    background: #E4DBD6;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius:4px;
    height: 118px;
    cursor: pointer;
    border-color: #ccc;
}
.xbtn:hover{
    background-color: #FED690;
    border-color: #FDC15E;
}

.xbtn .link a{
    color: #00355E;
    line-height: 100%;
    font-weight: bold;
    display: block;
    padding: 5px 0px;
    background: rgb(173, 179, 255);
}

.iconu-registro{
    /*height: 80px;
    width: 80px;
    display: block;
    margin-left: 70px;*/
}

.registro{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: 70px;
    background-image: url(../img/registro.png);
}
.busqueda{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: 70px;
    background-image: url(../img/busqueda.png);
}
.precarga{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: 70px;
    background-image: url(../img/precarga.png);
}
.mantenimiento{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: 70px;
    background-image: url(../img/mantenimiento.png);
}
.ayuda{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: 70px;
    background-image: url(../img/ayuda.png);
}



/*menu-------------*/
#menu-content{
    /*background: #002D4A;
    border-color: rgb(0, 97, 160);
    border:none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;

    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    width: 1060px;*/
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a{
    color:#fff;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover{
    background-color: #001F33;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
    background-color: #001F33;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: #001F33;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
    background-color: #001F33;
    color: #fff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background-color:#001F33;
}

/*drop menu*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
    background: #001F33;
}

.alert-info {
    color: #002D4A;
    background-color: #74C5C1;
    border-color: #4AB3AD;
}

embed#deployJavaPlugin{
    display: none;
}

/*formulario*/
.form-horizontal .control-label, label{
    font-weight: bold;
}
.nav-tabs > li{
    margin-left: 7px;
}


/*menu usuario*/
.menu-usuario{
    width: 250px;
}

.image-usuario{
    width: 150px;
}
.image-usuario p{
    font-weight: bold;
}

.image-usuario img{
    /*padding: 10px;*/
    border: 1px solid #ccc;
    margin: 0 10px;
}
.info-usuario a:hover{
    background: none;
}

.select2-container{
    width: 404px;
}

.select2-container .select2-choice{
    background-image: none;
}

/*foto footer*/
.muni_nombre {
    font-size: 12px;
}

.image-usuario-footer{
    float: left;
    width: 46px;
    margin-left: 10px;
    margin-right: 18px;
}
.image-usuario-footer img{
    width: 52px;
    height: 72px;
    display: inline-block;
}
.info-usuario-footer{
    float: left;
    width: 100px;
}

.tipo_programa_social{
    color: inherit;
    text-shadow: inherit;
    /*font-size: inherit;*/
    background-image: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0!important;
    box-shadow: none!important;
    vertical-align: middle;
    width: 465px;
}
.tipo_programa_social:hover{
    background-color: transparent;
}
a:hover, a:focus {
    /*color: #004370;*/
    color: #0088cc;
    /*text-decoration: underline;*/
}
a:focus{
    text-decoration: underline;
}
a{
    color: #0088cc;
}




/*tabs*/

/*#regman-form-tab-informacionBasica, #regman-form-tabpane-informacionAdicional, #regman-form-tab-informacionApoderados{
    background-color: #366eaf;
    color:#fff;
}
#regman-form-tab-informacionBasica:hover, #regman-form-tabpane-informacionAdicional:hover, #regman-form-tab-informacionApoderados:hover{
    background-color: #fff;
    color:#004370;
} */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #366eaf;
    color:#fff;
    font-size: 16px;
}
.nav-tabs>li.active>a .uno, .nav-tabs>li.active>a:hover .uno, .nav-tabs>li.active>a:focus .uno{
    background-color: #fff!important;
    color: #366eaf;
    font-size: 16px;
    /*    background-image: url(../img/ico_01_circuloblanco.png);
        width: 15px;
        height: 22px;
        display:inline-block;
        background-repeat:no-repeat;  */
}
.nav-tabs>li.active>a .dos, .nav-tabs>li.active>a:hover .dos, .nav-tabs>li.active>a:focus .dos{
    background-color: #fff!important;
    color: #366eaf;
    font-size: 16px;
    /*background-image: url(../img/ico_02_circuloblanco.png);
    width: 15px;
    height: 22px;
    display:inline-block;
    background-repeat:no-repeat;*/
}
.nav-tabs>li.active>a .tres, .nav-tabs>li.active>a:hover .tres, .nav-tabs>li.active>a:focus .tres{
    background-color: #fff!important;
    color: #366eaf;
    font-size: 16px;
    /*background-image: url(../img/ico_03_circuloblanco.png);
    width: 15px;
    height: 22px;
    display:inline-block;
    background-repeat:no-repeat;*/
}

.nav-tabs>li>a .uno, .nav-tabs>li>a:hover .uno, .nav-tabs>li>a:focus .uno{
    /*background-color: #366eaf!important;*/
    color: #fff;
    font-size: 16px;
    /*background-image: url(../img/ico_01_circuloazul.png);
    width: 15px;
    height: 22px;
    display:inline-block;
    background-repeat:no-repeat;*/
}
.nav-tabs>li>a .dos, .nav-tabs>li>a:hover .dos, .nav-tabs>li>a:focus .dos{
    /*background-color: #366eaf!important;*/
    color: #fff;
    font-size: 16px;
    /*background-image: url(../img/ico_02_circuloazul.png);
    width: 15px;
    height: 22px;
    display:inline-block;
    background-repeat:no-repeat;*/
}
.nav-tabs>li>a .tres, .nav-tabs>li>a:hover .tres, .nav-tabs>li>a:focus .tres{
    /*background-color: #366eaf!important;*/
    color: #fff;
    font-size: 16px;
    /*background-image: url(../img/ico_03_circuloazul.png);
    width: 15px;
    height: 22px;
    display:inline-block;
    background-repeat:no-repeat;*/
}

/*bootstrap-select*/
#main-content #padronNominal .bootstrap-select{
    border: 1px solid #cccccc;
}
#main-content #padronNominal .bootstrap-select .btn .caret{
    border-top-color:#000;
    margin-top: 18px;
}
#main-content #padronNominal .bootstrap-select .btn{
    background-color: #fff !important;
    color:#555 !important;
    border:none !important;
    text-shadow: none !important;
    line-height: 27px;
}
#main-content #padronNominal .bootstrap-select .btn:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 2px rgba(245, 153, 66, 0.3) !important;
    color: #838182 !important;
    border-color: #f59942 !important;
}
#main-content #padronNominal .bootstrap-select .btn-group, #main-content #padronNominal .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0;
}
/*bootstrap-select*/
#main-content #precotejoRegistro .bootstrap-select{
    border: 1px solid #cccccc;
}
#main-content #precotejoRegistro .bootstrap-select .btn .caret{
    border-top-color:#000;
    margin-top: 18px;
}
#main-content #precotejoRegistro .bootstrap-select .btn{
    background-color: #fff !important;
    color:#555 !important;
    border:none !important;
    text-shadow: none !important;
    line-height: 27px;
}
#main-content #precotejoRegistro .bootstrap-select .btn:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 2px rgba(245, 153, 66, 0.3) !important;
    color: #838182 !important;
    border-color: #f59942 !important;
}
#main-content #precotejoRegistro .bootstrap-select .btn-group, #main-content #padronNominal .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0;
}
/**/
#main-content #precotejoRegistro .tab-content{
    overflow: visible;
}

#main-content #padronNominal .select2-container .select2-choice {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color:#fff;
}
#main-content #padronNominal .select2-container .select2-choice span{
    color:#555 !important;
}
#main-content #padronNominal .select2-container-active .select2-choice, #main-content #padronNominal .select2-container-active .select2-choices{
    /*border: 1px solid #ccc;*/
    box-shadow: 0 0 0 2px rgba(245, 153, 66, 0.3);
    color: #838182;
    border-color: #f59942;
}
.select2-drop{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ccc;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit{
    background: none;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices{
    background: #fff;
}
.select2-search .select2-input{
    margin-top: 4px;
}
.select2-search .select2-input:focus{
    box-shadow: none;
    border:1px solid #ccc;
}
#main-content #padronNominal .select2-container .select2-choice div{
    border-left: none;
    background-image:none;
    background-color: #fff;
}

#main-content #padronNominal input, #main-content #padronNominal textarea{
    text-transform: uppercase;
}
#main-content #busmen-ava-menor-tabpane input, #main-content #busmen-ava-madre-tabpane input{
    text-transform: uppercase;
}
#main-content #padronNominal .controls label.radio{
    font-weight: normal;
}

/* listas de búsqueda */
#main-content .search-item hr{
    margin: 2px 0;
}
.search-item {
    margin-bottom:15px;
    padding:8px;
}
.search-item:hover {
    background-color:#fafafa;
}
.search-item .foto {
    padding:5px; border:1px solid #dddddd;
}
.help-info-popover{
    line-height: 16px;
    font-size: 12px;
}
.alert-success h4{
    text-align:center;
}

#nav{
    display: block;
    /*width: 100%;*/
    background: #012D4A;
}
.fix{
    position: fixed;
    top: 0;
    z-index: 1000;
}

/*parches para el bootstrap ultimo*/
.table tbody tr.success > td {
    background-color: #dff0d8;
}
.table tbody tr.error > td {
    background-color: #f2dede;
}
.table tbody tr.warning > td {
    background-color: #fcf8e3;
}
.table tbody tr.info > td {
    background-color: #d9edf7;
}
li.success{
    background-color: #dff0d8;
}


#msj_container {
    z-index: 200000;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 300px;
    top: 126px;
    right: 10px;
    color: white;
}

#msj_container .alert{
    box-shadow: 0 0 5px 3px #ddd;
    -moz-box-shadow: 0 0 5px 3px #ddd;
    margin-bottom: 10px;
    opacity: 0.9;
}

.editable {
    text-align: justify;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    background: none repeat scroll 0 0 #FFA;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-image: initial;
}
.editable:hover,.error .editable:hover {
    background-color: #000055;
    color: #d3d3d7;
}
.error .editable{
    background-color: #C84A10;
    color: #FFebFF;
}

/***************
* Estilos extra del UI
****************/
.ui-dialog-content form{margin: 0;}
.ui-dialog-content .hasDatepicker{cursor:pointer;}
.ui-dialog-content li {font-size: 12px;}
.ui-sortable li { margin: 0 3px 3px 3px; padding: 2px; padding-left: 1.5em;min-height: 18px; cursor:move;}
.ui-sortable li span { position: absolute; margin-left: -1.3em; }

.ui-autocomplete {
    max-width: 500px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*.ui-autocomplete-loading { background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat; }*/


.loading{
    background: url(../img/ajax-loader.gif) no-repeat;
    padding-left: 20px;
}

.tab-content{
    overflow: inherit;
}

.ico-panel-rule{
    background: url(../img/glyphicons_068_ruller@2x.png) no-repeat;
    width: 54px;
    height: 28px;
    display: block;
    float: left;
}



/**paneles**/
.panel {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 15px;
    font-size: 17.5px;
    font-weight: 500;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    /*border-top-right-radius: 3px;
    border-top-left-radius: 3px;*/
}

.panel-footer {
    padding: 10px 15px;
    margin: 15px -15px -15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-primary {
    border-color: #428bca;
}

.panel-primary .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-warning {
    border-color: #fbeed5;
}

.panel-warning .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.panel-danger {
    border-color: #eed3d7;
}

.panel-danger .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-body{
    padding:15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

/*button back**/
.button-back{
    margin-top: 10px;
}


/**login**/
.log-in{
    margin-top: 25px;
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.form-log-in{
    padding: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 40px;
}

#cmapa { height: 650px; width:960px; border:1px solid #9cb6d0; margin-bottom: 20px; }


/*#fichaPadron{border:1px solid #9cb6d0;}*/

.page-header{
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #004370;
    padding-bottom: 5px;
}
.ico_stats_64{
    background-image: url(../img/grias_estadisticas.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_stats_64:hover {
    opacity: 0.7;
}
.ico_hijo_64{
    background-image: url(../img/grias_dato_menor.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_hijo_64:hover {
    opacity: 0.7;
}
.ico_madre_64{
    background-image: url(../img/grias_dato_madre.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_madre_64:hover {
    opacity: 0.7;
}

.ico_ubigeo_64{
    background-image: url(../img/grias_consulta_ubigeo.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_ubigeo_64:hover {
    opacity: 0.7;
}

.ico_usuario_resetear{
    background-image: url(../img/usuarios_resetear.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_usuario_resetear:hover {
    opacity: 0.7;
}

.ico_usuarios_nuevo_usuario{
    background-image: url(../img/usuarios_nuevo_usuario.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_usuarios_nuevo_usuario:hover {
    opacity: 0.7;
}

.ico_usuarios_buscar_usuario{
    background-image: url(../img/usuarios_buscar_usuario.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_usuarios_buscar_usuario:hover {
    opacity: 0.7;
}

.ico_usuarios_lista_usuario{
    background-image: url(../img/usuarios_lista_usuario.png);
    width: 115px;
    height: 185px;
    display: block;
}
.ico_usuarios_lista_usuario:hover {
    opacity: 0.7;
}

.reportes_icon, .reportes_res_niños_EESS_edad, .reportes_por_datos_madre, .reportes_det_niños_EESS_edad, .reportes_ubigeo_detalle,
.reportes_por_ubi_detalle, .reportes_menores_ubigeo, .reportes_europan, .reportes_acta_muni, .reportes_altas_bajas_menores,
.reportes_acta_muni_total_enviadas, .reportes_est_salud, .reportes_menores6_sindni, .reportes_mov_ubigeos_menor_midis,
.reportes_por_muni, .reportes_mov_ubigeos_menor,.reportes_datos_menor,.reportes_rango_edades, .reportes_progr_sociales,
.reportes_reg_rango_fechas, .reportes_reg_restricc_obsv, .reportes_reg_rcien_nacidos, .reportes_relacion_usuario, .reportes_total_reg_ubig{
    width: 115px;
    height: 185px;
    display: block;
    background-repeat: no-repeat;
}


.reportes_total_reg_ubig{
    background-image: url(../img/de_reportes_total_reg_ubig.png);
}
.reportes_total_reg_ubig:hover{
    opacity: 0.7;
}

.reportes_relacion_usuario{
    background-image: url(../img/reportes_relacion_usuario.png);
}
.reportes_relacion_usuario:hover {
    opacity: 0.7;
}

.reportes_reg_restricc_obsv{
    background-image: url(../img/de_reportes_reg_restricc_obsv.png);
}
.reportes_reg_restricc_obsv:hover {
    opacity: 0.7;
}

.reportes_reg_rcien_nacidos{
    background-image: url(../img/de_reportes_reg_rcien_nacidos.png);
}
.reportes_reg_rcien_nacidos:hover{
    opacity: 0.7;
}

.reportes_reg_rango_fechas{
    background-image: url(../img/de_reportes_reg_rango_fechas.png);
}
.reportes_reg_rango_fechas:hover {
    opacity: 0.7;
}

.reportes_rango_edades{
    background-image: url(../img/de_reportes_rango_edades.png);
}
.reportes_rango_edades:hover{
    opacity: 0.7;
}

.reportes_progr_sociales{
    background-image: url(../img/de_reportes_progr_sociales.png);
}
.reportes_progr_sociales:hover{
    opacity: 0.7;
}

.reportes_datos_menor{
    background-image: url(../img/de_consulta_datos_menor.png);
}
.reportes_datos_menor:hover{
    opacity: 0.7;
}

.reportes_por_muni{
    background-image: url(../img/de_reportes_por_muni.png);
}
.reportes_por_muni:hover {
    opacity: 0.7;
}

.reportes_mov_ubigeos_menor{
    background-image: url(../img/reportes_mov_ubigeos_menor.png);
}
.reportes_mov_ubigeos_menor:hover{
    opacity: 0.7;
}

.reportes_mov_ubigeos_menor_midis{
    background-image: url(../img/de_reporte_mov_ubigeos.png);
}
.reportes_mov_ubigeos_menor_midis:hover{
    opacity: 0.7;
}

.reportes_menores6_sindni{
    background-image: url(../img/de_reportes_menores6_sindni.png);
}
.reportes_menores6_sindni:hover {
    opacity: 0.7;
}

.reportes_est_salud{
    background-image: url(../img/reportes_est_salud.png);
}
.reportes_est_salud:hover {
    opacity: 0.7;
}

.reportes_altas_bajas_menores{
    background-image: url(../img/de_reportes_altas_bajas_menores.png);
}
.reportes_altas_bajas_menores:hover {
    opacity: 0.7;
}

.reportes_acta_muni_total_enviadas{
    background-image: url(../img/de_reportes_acta_muni_total_enviadas.png);
}

.reportes_acta_muni_total_enviadas:hover {
    opacity: 0.7;
}

.reportes_europan{
    background-image: url(../img/reportes_europan.png);
}
.reportes_europan:hover {
    opacity: 0.7;
}

.reportes_acta_muni{
    background-image: url(../img/de_reportes_acta_muni.png);
}
.reportes_acta_muni:hover {
    opacity: 0.7;
}

.reportes_por_ubi_detalle{
    background-image: url(../img/de_total_registros_detalle.png);
}
.reportes_por_ubi_detalle:hover{
    opacity: 0.7;
}

.reportes_menores_ubigeo{
    background-image: url(../img/de_menores_ubigeo.png);
}
.reportes_menores_ubigeo:hover{
    opacity: 0.7;
}

.reportes_ubigeo_detalle{
    background-image: url(../img/de_total_registros_detalle.png);
}
.reportes_ubigeo_detalle:hover{
    opacity: 0.7;
}
.reportes_res_niños_EESS_edad{
    background-image: url(../img/de_reportes_grupo_edad_resumen.png);
}
.reportes_res_niños_EESS_edad:hover{
    opacity: 0.7;
}
.reportes_por_datos_madre{
    background-image: url(../img/de_consultas_datos_madres.png);
}
.reportes_por_datos_madre:hover{
    opacity: 0.7;
}
.reportes_det_niños_EESS_edad{
    background-image: url(../img/de_reportes_grupo_edad_detalle.png);
}
.reportes_det_niños_EESS_edad:hover{
    opacity: 0.7;
}

a.btn_big{
    background-color: #A6D8F8!important;
}

a.btn_big:hover {
    background-color: #5BB7F1 !important;
}

.loader{
    background-image:url(../img/loader.gif);
    display: block;
    width: 90px;
    height: 30px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*estilo para ui-multiselect */
.ui-multiselect {
    line-height: 24px;
}

.listaguion li{
    list-style-type: none;
    text-indent: -8px;}
.listaguion li:before{content: "- "}

.p_numRegFound{
    color: #64655b;
    font-size: 14px;
}
.s_size14{
    font-size: 15px;
}
.ml0_left{
    margin-left: 24px;
}

.m08_left{
    margin-left: 20px;
}
.m06_left{
    margin-left: 16px;
}

em {
   font-style: normal !important;
}
.label-inf-adicional{
    position: absolute;
    margin-top: 5px;
}

.downChildTitle{
    color:#b94a48 !important;
    font-weight: bold;
    background-color: #f7eeee;
    padding: 3px 8px;
}
.upChildTitle{
    font-weight: bold;
    background-color: #eaeaea;
    padding: 2px 8px;
}
.ubigeoDesc{
    color: black;
    float: none;
    display: block;
    font-size: 11px;
}
.detalleBaja{
 display: none;
}
.b_nombres{
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.b_ubigeo{
    display: block;
    font-size: 12px;
}
.b_motivo{
    display: block;
    font-size: 13px;
}
.b_obs{
    display: block;
    font-size: 13px;
}
.b_strong{
    font-size: 12px;
    text-transform: uppercase;
}
.alert-danger p{
    margin-bottom: 2px;
}
.b_line{
    margin-bottom: 0px;
    display: block;
    font-size: 12px;
}
/**/
table.t_menores td{
    padding: 6px 7px;
    line-height: 14px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    font-weight: normal !important;
}
table.t_menores th{
    font-weight: bold;
    padding: 5px 7px;
    line-height: 16px;
    font-size: 13px;
}
.t_radio{
    padding:6px 9px 6px 2px !important;
}

.label-precarga {
    background-color: transparent!important;
    color: #dc3545!important;
}

#captcha-section .input-append {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}
#captcha-section img {
    max-width: 87%;
}
#captcha-section a {
    padding-right: 0;
    border-radius: 3px !important;
    margin-top: 8px;
}

#signupForm .control-group .controls #s2id_grupos{
    float:none;
    margin-left: 0px;
}

#signupForm .control-group .controls #s2id_tipoEntidades{
    float:none;
    margin-left: 0px;
}

#signupForm .control-group .controls #s2id_entidades{
    float:none;
    margin-left: 0px;
}