<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:p="http://www.springframework.org/schema/p"
			 xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
			 xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <!--<context:component-scan base-package="pe.gob.reniec.padronn.logic.dao pe.gob.reniec.padronn.logic.service pe.gob.reniec.padronn.logic.web.validator pe.gob.reniec.padronn.logic.model pe.gob.reniec.padronn.logic.util"/>-->

    <context:component-scan base-package="pe.gob.reniec.padronn"/>

    <bean id="usuario" class="pe.gob.reniec.padronn.logic.model.Usuario" scope="session">
        <aop:scoped-proxy/>
    </bean>

    <bean id="applicationProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>

	<!--<jee:jndi-lookup id="dataSource" jndi-name="${jndi.main.jndiName}" />-->
	<!--<jee:jndi-lookup id="dataSourceRC" jndi-name="${jndi.rc}"/>-->
	<!--<jee:jndi-lookup id="dataSource" jndi-name="jdbc/IDU_PADRONN" />-->
	<!--<jee:jndi-lookup id="dataSourceRC" jndi-name="jdbc/IDU_RRCC"/>-->


    <!-- #Conexión de base de datos de prueba
    jdbc.driverClassName=oracle.jdbc.driver.OracleDriver

    jdbc.url=jdbc:oracle:thin:@151.101.120.198:1527:DESABD
    jdbc.username=IDOPADNOM
    jdbc.password=idopadnom

    rc.jdbc.url=jdbc:oracle:thin:@151.101.120.191:1522:desarc
    rc.jdbc.username=IDUMINSA
    rc.jdbc.password=minsatemp

    jndi.main.jndiName=jdbc/IDU_PADRONN
    jndi.rc = jdbc/IDU_RRCC-->


    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}"/>

    <bean id="dataSourceRC"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${rc.jdbc.url}"
          p:username="${rc.jdbc.username}"
          p:password="${rc.jdbc.password}"/>

    <bean id="dataSourceHV"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${hv.jdbc.url}"
          p:username="${hv.jdbc.username}"
          p:password="${hv.jdbc.password}"/>

</beans>
